<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{id}}"></script>

</head>




<form action="{{resultUrl}}" class="paymentWidgets" data-brands="VISA MASTER MADA"></form>

</body>


</html>